# Configurações AWS para o MCP Server
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# Opcional (se usando Session Token temporário)
# AWS_SESSION_TOKEN=

# Opcional (se usando profile local do ~/.aws/credentials)
# AWS_PROFILE=default
